:root {
    --accent: #cc241d;

    --black:   #282828; --brightBlack:   #928374;
    --red:     #cc241d; --brightRed:     #fb4934;
    --green:   #98971a; --brightGreen:   #b8bb26;
    --yellow:  #d79921; --brightYellow:  #fabd2f;
    --blue:    #458588; --brightBlue:    #83a598;
    --magenta: #b16286; --brightMagenta: #d3869b;
    --cyan:    #689d6a; --brightCyan:    #8ec07c;
    --white:   #a89984; --brightWhite:   #ebdbb2;

    --bg:  #282828;
    --bg0: #282828;
    --bg1: #3c3836;
    --bg2: #504945;
    --bg3: #665c54;
    --bg4: #7c6f64;

    --fg:  #ebdbb2;
    --fg0: #fbf1c7;
    --fg1: #ebdbb2;
    --fg2: #d5c4a1;
    --fg3: #bdae93;
    --fg4: #a89984;

    --orange: #d65d0e; --brightOrange: #fe8019;
}

html {
    background-color: var(--bg);
    color: var(--fg);
    font-family: monospace;
}

body {
    max-width: 640px;
    margin: auto;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--fg0);
}

a {
    color: var(--accent);
}

li::marker {
    content: "- ";
    color: var(--fg3)
}

hr {
    color: var(--bg2);
}

#footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 8px;
    color: var(--bg4);
}

#footer a {
    color: var(--bg4);
}